@model ProductSummaryModel.SummaryItem
@using SmartStore.Web.Models.Catalog;
@using SmartStore.Core.Domain.Orders;
@{
    var list = Model.Parent;
    var price = Model.Price;
    //var artDetailUrl = Url.RouteUrl("Product", new RouteValueDictionary { { "SeName", Model.SeName } });
}       

@{
    var cssClasses = false ? "btn-block d-none d-md-block" : "x-btn-icon btn-lg art-btn col";

    if (!Model.Price.CallForPrice)
    {
        <a href='@Url.RouteUrl("QuantityStep", new RouteValueDictionary { { "productId" , Model.Id } })'
           class="btn btn-primary  @cssClasses">
            <i class="fa fa-plus"></i>
            @if (true)
            {
                <span>Select This Quality</span>
            }

        </a>
    }
}                       