@model dynamic







<style type="text/css">
    #carousel-2 {
        height: 400px;
        background-color: transparent;
        background-image: none;
    }
</style>

<script type="text/javascript">
    $(function () {
        $('#carousel-2').contentSlider();
    });
</script>


<div id="carousel-2" class="carousel slide xhide-on-active-filter bright fluid d-none d-md-block" data-ride=carousel data-interval="88000">

    <ol class="carousel-indicators">
        <li data-target="#carousel-2" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-2" data-slide-to="1" class=""></li>
        <li data-target="#carousel-2" data-slide-to="2" class=""></li>
    </ol>

    <div class="carousel-inner" role="listbox">
        <div id="carousel-item-15" class="carousel-item bright product-slide active" style="background-image:url(/Content/Images/slider/background.png);background-color: transparent;height:400px">
            <div class="container slide-type-2 h-100">
                <div class="row h-100">

                    <div class="col-md-12 d-flex align-items-center">
                        <div class="data text-md-center text-center p-3">
                            <h4 class="slide-title display-4" data-aos="slide-left">
                                Welcome to FLoFilters
                            </h4>
                            <p class="slide-subtitle fs-h4 d-none d-md-block" title="" data-aos="slide-left">
                                <span>We offfer 100% Satisfaction Guarantee on Homes</span>
                            </p>

                            <div class="product-slide-buttons d-none d-md-block pt-3" data-aos="slide-up">
                                <a href='/MyCheckout/QualityStep'
                                   class="btn btn-clear-dark btn-animate btn-animate-right btn-lg">
                                    <span>
                                        <i class="fa fa-angle-right"></i>
                                        <span>Continue</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="carousel-item-2" class="carousel-item bright product-slide " style="background-image:url(/Content/Images/slider/background.png);background-color: transparent;height:400px">

            <div class="container slide-type-2 h-100">
                <div class="row h-100">
                    <!-- <div class="col-md-6 text-md-right d-flex align-items-center"> -->
                    <div class="col-md-6 text-md-right align-items-center">
                        <figure class="picture text-center" data-aos="zoom-in">
                            <img alt="Free Delivery" src="~/Content/Images/slider/truck6.png" class="img-fluid" />
                        </figure>
                    </div>
                    <div class="col-md-6 d-flex align-items-center">
                        <div class="data text-md-left text-center p-3">
                            <div class="prices" data-aos="slide-left">
                                <p class="product-price h2">
                                    <span class="price">Shipping is always free *</span>
                                </p>
                            </div>

                            <p class="slide-subtitle fs-h4 d-none d-md-block" title="" data-aos="slide-left">
                                Create your subscription. Sit back, relax, we will take care of the rest.
                            </p>

                            <div class="product-slide-buttons d-none d-md-block pt-3" data-aos="slide-up">
                                <a href='/MyCheckout/QualityStep' class="btn btn-clear-dark btn-animate btn-animate-right btn-lg">
                                    <span>
                                        <i class="fa fa-angle-right"></i>
                                        <span>Continue</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="carousel-item-7" class="carousel-item bright product-slide " style="background-image:url(/Content/Images/slider/background.png);background-color: transparent;height:400px">
            <div class="container slide-type-2 h-100">
                <div class="row h-100">
                    <!-- <div class="col-md-6 text-md-right d-flex align-items-center">   -->
                    <div class="col-md-6 text-md-right align-items-center">
                        <figure class="picture text-center" data-aos="zoom-in">
                            <img alt="Manage Subscriptions" src="~/Content/Images/slider/truck3.png" class="img-fluid" />
                        </figure>
                    </div>
                    <!-- <div class="col-md-6 d-flex align-items-center"> -->
                    <div class="col-md-6  align-items-center">
                        <div class="data text-md-left text-center p-3">

                            <h4 class="slide-title display-4" data-aos="slide-left">
                                <span>Easily manage your subscriptions </span>
                            </h4>

                            <p class="slide-subtitle fs-h4 d-none d-md-block" title="" data-aos="slide-left">
                                No commitments, obligations, or fees and you can cancel at any time
                            </p>


                            <div class="product-slide-buttons d-none d-md-block pt-3" data-aos="slide-up">
                                <a href='/MyCheckout/QualityStep' class="btn btn-clear-dark btn-animate btn-animate-right btn-lg">
                                    <span>
                                        <i class="fa fa-angle-right"></i>
                                        <span>Continue</span>
                                    </span>
                                </a>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <a class="left carousel-control" href="#carousel-2" role="button" data-slide="prev">
        <span class="icon-prev" aria-hidden="true"><i class="fa fa-angle-left"></i></span>
        <span class="sr-only">Zurück</span>
    </a>
    <a class="right carousel-control" href="#carousel-2" role="button" data-slide="next">
        <span class="icon-next" aria-hidden="true"><i class="fa fa-angle-right"></i></span>
        <span class="sr-only">Vor</span>
    </a>
</div>               