@model ShoppingCartModel
@using SmartStore.Web.Models.Checkout
@using SmartStore.Web.Models.ShoppingCart;
@{
    Layout = "_Checkout";
    Html.AddBodyCssClass("order-summary-page no-offcanvas-cart");
    Html.AddTitleParts(T("PageTitle.ShoppingCart").Text);
}

@section orderProgress{
	@{ Html.RenderAction("CheckoutProgress", "Checkout", new { step = CheckoutProgressStep.Cart }); }
}

<div class="page shopping-cart-page">        
    <div class="row">
        <div class="col-12 text-center">
            <div class="section-heading section-heading-checkout">
                <h2>Filters Basket</h2>
                <div class="line-shape"></div>
            </div>
        </div>
    </div>
    <div class="page-body">
        @{ Html.RenderPartial("OrderSummary", Model); }
    </div>
</div>
