@model AccountActivationModel
@using SmartStore.Web.Models.Customer;
@{
    Layout = "_Layout";

    Html.AddTitleParts(T("PageTitle.AccountActivation").Text);
}

<div class="page account-activation-page">    
    <div class="col-12 text-center">
        <div class="section-heading section-heading-checkout">
            <h2>Account Activation</h2>
            <div class="line-shape"></div>
        </div>
    </div>        
    <div class="page-body">
        <strong>@Model.Result</strong>
    </div>
</div>
