@model RegisterResultModel

@using SmartStore.Web.Models.Customer;

@{
                /**/

                Layout = "_Layout";

                Html.AddTitleParts(T("PageTitle.Register").Text);

                //continue URL
                var continueUrl = "";
                if (!String.IsNullOrEmpty(this.Context.Request.QueryString["returnUrl"]))
                {
                    continueUrl = this.Context.Request.QueryString["returnUrl"];
                }
                else
                {
                    continueUrl = Url.RouteUrl("HomePage");
                }
}

<div class="page registration-result-page">
    <div class="col-12 text-center">
        <div class="section-heading section-heading-checkout">
            <h2>@</h2>
            <div class="line-shape"></div>
        </div>
    </div>

    <div class="page-body">
        <p class="section-body">
            @
        </p>

        <div class="buttons">
            <a class="btn submit-btn register-continue-button" href="@continueUrl">
                @
            </a>
        </div>
    </div>
</div>
