@model ProductSummaryModel


@using SmartStore.Web.Models.Checkout;
@using SmartStore.Web.Models.Catalog;


@{
    Layout = "_Checkout";

    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
}
@section orderProgress{
    @{ Html.RenderAction("CheckoutProgress", "Checkout", new { step = CheckoutProgressStep.Quality, area = "" }); }
}

<section class="step-area section_padding_0_50 clearfix" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="section-heading section-heading-checkout">
                    <h2>What Quality Of Air Filter Would You Like?</h2>
                    <div class="line-shape"></div>
                </div>
            </div>
        </div>

        <div class="row no-gutters">           
            @if (Model.PagedList.TotalCount > 0)
            {          
                foreach (var product in Model.Items)
                {
                    <div class="col-12 col-md-6 col-lg-4">
                        @{
                            Html.RenderPartial("Product.List.Quality.Item", product);
                        }
                    </div>
                }  
            }

            @{
                // Html.RenderPartial("Product.List.Quality", Model);
            }
        </div>
    </div>

</section>
