@model ProductSummaryModel.SummaryItem
@using System.Globalization;
@using SmartStore.Web.Models.Catalog;
@{
    var artDetailUrl = Url.RouteUrl("QuantityStep", new RouteValueDictionary { { "ProductId", Model.Id } });
    var list = Model.Parent;
    var picture = Model.Picture;

    var showButtons = list.ShowButtons && (!Model.Price.DisableWishlistButton || list.CompareEnabled || (!Model.Price.DisableBuyButton && list.BuyEnabled));
    var showVariants = (Model.ColorAttributes != null && Model.ColorAttributes.Any()) || (Model.Attributes != null && Model.Attributes.Any());
    var showDrop = showButtons || showVariants;
    var showAttrs = list.ViewMode == ProductSummaryViewMode.List && (list.ShowSku || list.ShowWeight || list.ShowDimensions);
    var addPictureClass = picture.PictureId == 0 ? " no-picture" : "";
    if (!picture.ImageUrl.HasValue())
    {
        addPictureClass += " no-default-picture";
    }
}


@if (Model.Id == 1) //@if (Model.Id == 60)
{
    <div class="single-price-plan text-center">
        <!-- Package Text  -->
        <div class="package-plan">
            <h5>MERV 8</h5>
            <div class="ca-price d-flex justify-content-center">
                <h4>PREMIER</h4>
            </div>
        </div>
        <div class="package-description">
            <p><i class="fa fa-check"></i> Lint</p>
            <p><i class="fa fa-check"></i> Household Dust</p>
            <p><i class="fa fa-check"></i> Pollen</p>
            <p><i class="fa fa-check"></i> Dust Mites Debris</p>
            <p><i class="fa fa-check"></i> Mold Spores</p>
            <p>Pet Dander</p>
            <p>Smoke</p>
            <p>Smog</p>
            <p>Cough/Sneeze</p>
            <p>Bacteria</p>
            <p>Virus Carriers</p>
        </div>
        <!-- Plan Button  -->
        <div class="plan-button">
            @{ Html.RenderPartial("Product.List.Quality.Item.Buttons", Model); }
        </div>
    </div>
}

@if (Model.Id == 2) //@if(Model.Id == 61)
{

    <!-- Package Price  -->
    <div class="single-price-plan active text-center">
        <!-- Package Text  -->
        <div class="package-plan">
            <h5>MERV 11</h5>
            <div class="ca-price d-flex justify-content-center">
                <h4>PRESTIGE</h4>
            </div>
        </div>
        <div class="package-description">
            <p><i class="fa fa-check"></i> Lint</p>
            <p><i class="fa fa-check"></i> Household Dust</p>
            <p><i class="fa fa-check"></i> Pollen</p>
            <p><i class="fa fa-check"></i> Dust Mites Debris</p>
            <p><i class="fa fa-check"></i> Mold Spores</p>
            <p><i class="fa fa-check"></i> Pet Dander</p>
            <p><i class="fa fa-check"></i> Smoke</p>
            <p><i class="fa fa-check"></i> Smog</p>
            <p><i class="fa fa-check"></i> Cough/Sneeze</p>
            <p>Bacteria</p>
            <p>Virus Carriers</p>
        </div>
        <!-- Plan Button  -->
        <div class="plan-button">
            @{Html.RenderPartial("Product.List.Quality.Item.Buttons", Model); }
        </div>
    </div>

}
@if (Model.Id == 3) // @if(Model.Id == 1061)
{

    <!-- Package Price  -->
    <div class="single-price-plan text-center">
        <!-- Package Text  -->
        <div class="package-plan">
            <h5>MERV 13</h5>
            <div class="ca-price d-flex justify-content-center">
                <h4>ELITE</h4>
            </div>
        </div>
        <div class="package-description">
            <p><i class="fa fa-check"></i> Lint</p>
            <p><i class="fa fa-check"></i> Household Dust</p>
            <p><i class="fa fa-check"></i> Pollen</p>
            <p><i class="fa fa-check"></i> Dust Mites Debris</p>
            <p><i class="fa fa-check"></i> Mold Spores</p>
            <p><i class="fa fa-check"></i> Pet Dander</p>
            <p><i class="fa fa-check"></i> Smoke</p>
            <p><i class="fa fa-check"></i> Smog</p>
            <p><i class="fa fa-check"></i> Cough/Sneeze</p>
            <p><i class="fa fa-check"></i> Bacteria</p>
            <p><i class="fa fa-check"></i> Virus Carriers</p>
        </div>
        <!-- Plan Button  -->
        <div class="plan-button">
            @{Html.RenderPartial("Product.List.Quality.Item.Buttons", Model);
            }
        </div>
    </div>
}

